<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>欢迎页面-X-admin2.2</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
		<link rel="stylesheet" th:href="@{/css/font.css}">
		<link rel="stylesheet" th:href="@{/css/xadmin.css}">
		<script th:src="@{/js/jquery-3.5.0.js}"></script>
		<script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
		<script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
		<!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
	<body>
		<div class="x-nav">
			<span class="layui-breadcrumb">
				<a>
					<cite>用户列表</cite></a>
			</span>
			<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()"
			 title="刷新">
				<i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
		</div>
		<div class="layui-fluid">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md12">
					<div class="layui-card">
						<div class="layui-card-body ">
							<form class="layui-form layui-col-space5" action="getuserlist" method="post">
								<div class="layui-inline layui-show-xs-block">
									<input class="layui-input" th:value="${user.xingming}" autocomplete="off" placeholder="姓名" name="xingming">
								</div>
								<div class="layui-inline layui-show-xs-block">
									<input class="layui-input" th:value="${user.shoujihao}" autocomplete="off" placeholder="手机号" name="shoujihao">
								</div>
								<div class="layui-inline layui-show-xs-block">
									<button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
								</div>
								<div class="layui-inline layui-show-xs-block">
									<a href="getuserlist"><button class="layui-btn" type="button" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>查询所有</button></a>
								</div>
							</form>
						</div>
						<div class="layui-card-body ">
							<table class="layui-table">
								<thead>
									<tr>
										<th>ID</th>
										<th>头像</th>
										<th>昵称</th>
										<th>姓名</th>
										<th>手机号</th>
										<th>提现金额</th>
										<th>冻结金额</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="user : ${list}">
										<td th:text="${user.id}"></td>
										<td><img style="width: 50px;" th:src="${user.touxiang}"></td>
										<td th:text="${user.nicheng}"></td>
										<td th:text="${user.xingming}"></td>
										<td th:text="${user.shoujihao}"></td>
										<td th:text="${user.tixianjine}"></td>
										<td th:text="${user.dongjiejine}"></td>
										<td class="td-manage">
											<a title="编辑" name="bianji" th:lang="${user.id}" href="javascript:;">
												<i class="layui-icon">&#xe642;</i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="layui-card-body ">
							<div class="page">
								<div>
									<a th:href="@{getuserlist(pageNo=1,xingming=${user.xingming},shoujihao=${user.shoujihao})}">
										<<</a> <a th:href="@{getuserlist(pageNo=${p1},xingming=${user.xingming},shoujihao=${user.shoujihao})}"
										 th:text="${p1}" th:if="${p1 > 0}" th:style="${p1 == pageNo ?'background-color: #1e96ff;':'' }">
									</a>
									<a th:href="@{getuserlist(pageNo=${p2},xingming=${user.xingming},shoujihao=${user.shoujihao})}" th:text="${p2}"
									 th:if="${p2 > 0}" th:style="${p2 == pageNo ?'background-color: #1e96ff;':'' }"></a>
									<a th:href="@{getuserlist(pageNo=${p3},xingming=${user.xingming},shoujihao=${user.shoujihao})}" th:text="${p3}"
									 th:if="${p3 > 0}" th:style="${p3 == pageNo ?'background-color: #1e96ff;':'' }"></a>
									<a th:href="@{getuserlist(pageNo=${p4},xingming=${user.xingming},shoujihao=${user.shoujihao})}" th:text="${p4}"
									 th:if="${p4 > 0}" th:style="${p4 == pageNo ?'background-color: #1e96ff;':'' }"></a>
									<a th:href="@{getuserlist(pageNo=${p5},xingming=${user.xingming},shoujihao=${user.shoujihao})}" th:text="${p5}"
									 th:if="${p5 > 0}" th:style="${p5 == pageNo ?'background-color: #1e96ff;':'' }"></a>
									<a th:href="@{getuserlist(pageNo=${totalpage},xingming=${user.xingming},shoujihao=${user.shoujihao})}">&gt;></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		$("[name='bianji']").click(function() {
			xadmin.open('编辑', 'getuser?id=' + $(this).attr("lang"));
		})
	</script>
</html>
